* {
    font-family: calibri;
}

html, body {
    overflow: hidden;
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 80% 20%;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

/** FLIGHT PANNELS **/

#flight-panels {
    width: 100%;
    height: 100%;
}

#flight-panels > h1 {
    text-align: center;
}

/** PRIMARY FLIGHT DISPLAY **/

.PFD {
    width: 100%;
    height: 40vh;
    background-color: black;
    display: grid;
    color: #fff;
}

#PFD-js {
    width: 100%;
    height: 100%;
}